.main-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #C7C0C0;
    margin: 1rem 0;
}

.main-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.main-table td,
.main-table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

.main-table thead {
    background-color: #C7C0C0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.main-table td {
    background-color: transparent;
}
.main-table-odd td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.main-table-striped tr:nth-child(2n) td {
    background-color: #EDEDED;
}

/* BORDERED TABLES */
.main-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
.main-table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}


/* HORIZONTAL BORDERED TABLES */

.main-table-horizontal td,
.main-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
.main-table-horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}
